* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    --white: #fff;
    --black: #000;
    --grey-500: #626c7f;
    --grey-50: #f4f6fa;
    --blue-950: #2d3949;
    --blue-900: #313e51;
    --blue-850: #3b4d66;
    --blue-500: #3d6aff;
    --blue-300: #abc1e1;
    --blue-100: #edf1f9;
    --blue-50: #ebf0ff;

    --green-500: #2fd887;
    --green-50: #e0fdef;

    --purple-600: #a729f5;
    --purple-50: #f6e7ff;

    --orange-400: #ff7e35;
    --orange-50: #fff5ed;

    --red-500: #ee5454;

    --space-50: 0.4rem;
    --space-100: 0.8rem;
    --space-200: 1.6rem;
    --space-300: 2.4rem;
    --space-400: 3.2rem;
    --space-500: 4rem;
    --space-600: 4.8rem;
    --space-800: 6.4rem;
    --space-1600: 12.8rem;
    --space-1800: 14.4rem;
    --space-2300: 18.4rem;

    --ff-family: 'Rubik', sans-serif;
    --fs-1: 14.4rem;
    --fs-2: 6.4rem;
    --fs-3: 3.6rem;
    --fs-4: 2.4rem;
    --fs-5: 2rem;
    --fs-6: 1.8rem;
    --fs-7: 1.4rem;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;

    --lh-medium: 1.2;
    --lh-loose: 1.5;

}

[data-theme="dark"] {
    --bg-color: var(--grey-900);
    --text-color: var(--white);
    --flavor-text-color: var(--blue-300);
    --answer-option-bg: var(--blue-50);
    --user-select-bg: var(--blue-850);
}

[data-theme="light"] {
    --bg-color: var(--grey-50);
    --text-color: var(--blue-900);
    --flavor-text-color: var(--grey-500);
    --answer-option-bg: var(--grey-50);
    --user-select-bg: var(--white);
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
    font-family: var(--ff-family);
}

article, form {
    padding-block: var(--space-400);
    padding-inline: var(--space-300);
}





header {
    margin-block-end: var(--space-500);
}

header h1 {
    margin-block-start: var(--space-400);
    font-size: 4rem;
    font-weight: var(--fw-light);
    color: var(--text-color);
}

header h1 span {
    display: block;
    font-weight: var(--fw-medium);
}

header p {
    font-size: var(--fs-7);
    line-height: var(--lh-loose);
    color: var(--flavor-text-color);
    font-style: italic;
}


.hide__content * {
    display: none;
}


.subjects {
    display: flex;
    flex-direction: column;
    gap: var(--space-200);
}

.subjects__button {
    display: flex;
    align-items: center;
    gap: var(--space-200);
    padding: var(--space-200);
    width: 100%;
    border-radius: .75rem;
    background-color: var(--user-select-bg);
    cursor: pointer;
    border: 2px solid transparent;
}

.subjects__button:hover {
    border-color: var(--purple-600);
}

.subjects__button div {
    width: 40px;
    height: 40px;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.subjects__button p {
    color: var(--text-color);
    font-family: var(--ff-family);
    font-size: var(--fs-6);
    font-weight: var(--fw-medium);
}

.subjects__button img {
    width: 100%;
    display: block;
}

.html__icon {
    background-color: var(--orange-50);
}
.css__icon {
    background-color: var(--green-50);
}
.javascript__icon {
    background-color: var(--blue-50);
}
.accessibility__icon {
    background-color: var(--purple-50);
}


.toggle {
    display: flex;
    padding-block: var(--space-200);
    
}

.toggle__container {
    display: flex;
    margin-inline-start: auto;
    gap: var(--space-100);
    cursor: pointer;
}

.toggle__element {
    background-color: #a729f5;
    border-radius: 2rem;
    padding: var(--space-50);
    width: 4rem;
    display: flex;
}

.toggle__control {
    background-color: white;
    border-radius: 50%;
    width: 50%;
    height: 100%;
    transition: transform 0.25s ease;
}

.toggle__transform{
    transform: translateX(100%);
}



label {
    display: flex;
    align-items: center;
    width: 100%;
    gap: var(--space-200);
    padding: var(--space-200);
    border: 2px solid transparent;
    border-radius: 0.5rem;
    background-color: var(--user-select-bg);
    margin-block-end: var(--space-300);
    cursor: pointer;
}

label:hover {
    border-color: var(--purple-600);
}

input[type="radio"] {
    display: none;
}

.question__container div {
    padding: 1rem;
    border-radius: 0.5rem;
}

.question__container {
    display: flex;
    flex-direction: column;
}

.question__number {
    font-size: var(--fs-7);
    font-style: italic;
    color: var(--flavor-text-color);
    line-height: var(--lh-loose);
}

.question__display {
    font-size: var(--fs-5);
    font-weight: var(--fw-medium);
    color: var(--text-color);
}

.question__container .question__progress {
    background-color: white;
    border-radius: 2rem;
    padding: var(--space-50);
}

.question__container .progress__bar {
    height: 0.8rem;
    background-color: var(--purple-600);
    padding: 0;
}



.answer__options {
    width: 40px;
    height: 40px;
    background-color: var(--answer-option-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey-500);
    font-size: var(--fs-6);
    font-weight: var(--fw-medium);
    border-radius: 0.75rem;
}

.answer__choices {
    color: var(--text-color);
    font-size: var(--fs-6);
    font-weight: var(--fw-medium);
}